@import 'ProjectItems';

ol {
  font-family: Roboto;
  font-size: $font-size-p !important;
  font-weight: 300;
  padding: 0px 20px;
}

ol li::before { 
  font-family: $font-family-Bold;
} 
.listItem {
  @include font-size-p;
}