@import 'ProjectItems';

.container {
  margin-top: 1.3rem;
}


.credit_key {
  font-size: 1.2rem;
  font-weight: 500;
  color: $smooth-black;

}

.credit_name {
  font-size: 1.2rem;
  font-weight: 200;
  color: $smooth-black;
}