@import 'ProjectItems';

.container {
  margin: 20px 0;
}


.credit_key {
  @include font-size-p;
  font-weight: 600;
  color: $smooth-black;

}

.credit_name {
  color: $smooth-black;
  @include font-size-p;
}