
.grid_container {
  height: 100vh;
  width: 100vw;
  display: grid;
  gap: 10px; /* Abstand zwischen den Spalten */
  overflow: hidden;

  &.g_99 {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }

  &.g_55 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}

.grid_item 
{
    min-height: 0;
    min-width: 0;
}
