@import 'About';

.text {
  color: $smooth-white;
}


.top_h {
  color: $smooth-white;
  h2 {
    color: aqua;
    font-size: 1vw !important;
  }

  h1 {
    font-size: 1.5vw !important;
  }

}


.bold {
  color: $smooth-white;
  font-weight: bold;
  font-family: $font-bir;

}

.light {
  color: $smooth-white;
  font-weight: 200;
  font-family: $font-bir;
}