@import 'Project';
h1 {
    line-height: 100%;
    font-family: "Comfortaa", Times, serif;
    font-size: $font-size-h1;
}

h2 {
  line-height: 100%;
  font-family: "Comfortaa", Times, serif;
  font-size: $font-size-h5;
}