@import 'Footer';


.footerButton{

  background-color: transparent;
  color: $smooth-white;
  font-family: $font-family-Regular;
  font-size: $font-size-p;
  padding: 20px;
  border: none;
  outline: none;





}