@import 'Footer';

.footer {

  h1 {
    padding-top: 2vw;
    padding-bottom: 1vw;
  }
  
  h2 {
    padding-top: 1.5vw;
    padding-bottom: 0.75vw;
  }
  
  h3 {
    padding-top: 1.2vw;
    padding-bottom: 0.6vw;
  }
  
  h4 {
    padding-top: 0.8vw;
    padding-bottom: 0.4vw;
  }
  
  p {
    display: block;
  
  }

}