@use 'sass:math';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Comfortaa:wght@300..700&family=Dosis:wght@200..800&display=swap');




$smooth-black:  #181818;
$smooth-white:  #e4e1d9;
$smooth-blue: #2C3E50;

$font-family-sans:  Verdana, Helvetica, sans-serif;
$font-family-serif: "Times New Roman", Times, serif;

$font-family-Regular: "Dosis", Times, serif;
$font-family-Light: "Dosis", Times, serif;
$font-family-Medium: "Dosis", Times, serif;
$font-family-Bold: "Dosis", Times, serif;

$comfortable-line-height: 1.5;

$font-size-base:    0.8vw;
$font-size-factor:  1.4;  /* cmp. https://type-scale.com/ */
 
$font-size-h6:      math.pow($font-size-factor,0.8)*$font-size-base;
$font-size-h5:      math.pow($font-size-factor,1)*$font-size-base;
$font-size-h4:      math.pow($font-size-factor,3)*$font-size-base;
$font-size-h3:      math.pow($font-size-factor,4)*$font-size-base;
$font-size-h2:      math.pow($font-size-factor,5)*$font-size-base;
$font-size-h1:      math.pow($font-size-factor,6)*$font-size-base;


$image-height-base:    10vw;
$image-size-factor:    1.4;
$image-height:      math.pow($image-size-factor, 2)*$image-height-base;


//$font-size-p:       math.pow($font-size-factor,1.5)*$font-size-base;
$font-size-p: 24px;
$font-size-p-large: math.pow($font-size-factor,2)*$font-size-base;

$font-size-small:   math.pow($font-size-factor,-1)*$font-size-base;