@use 'sass:math';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Comfortaa:wght@300..700&family=Dosis:wght@200..800&display=swap');

// FONT FAMILY VARIABLES //
$font-family-sans:  Verdana, Helvetica, sans-serif;
$font-family-serif: "Times New Roman", Times, serif;

$font-family-Regular: "Dosis", Times, serif;
$font-family-Light: "Dosis", Times, serif;
$font-family-Medium: "Dosis", Times, serif;
$font-family-Bold: "Dosis", Times, serif;

$font-bir : Biryani, Helvetica, sans-serif;

// BASE COLORS //

$smooth-black:  #181818;
$smooth-white:  #f3f3f3;
$smooth-blue: #2C3E50;
$smooth-grey: #3C3C3C;

$base-grid-size: 9;
$comfortable-line-height: 1.5;
$layout-breakpoint-small: 960px;

$base-cursor: url('../assets/icons/cursor.svg') 10 10, auto;

// HEADER SIZE VARIABLES //
$font-size-factor: 1.4;  /* cmp. https://type-scale.com/ */
$font-size-base  : 0.8vw;
$font-size-base-m: 0.8vh;


$font-size-h6:      math.pow($font-size-factor,0.8)*$font-size-base;
$font-size-h5:      math.pow($font-size-factor,1)*$font-size-base;
$font-size-h4:      math.pow($font-size-factor,2)*$font-size-base;
$font-size-h3:      math.pow($font-size-factor,3.8)*$font-size-base;
$font-size-h2:      math.pow($font-size-factor,4.2)*$font-size-base;
$font-size-h1:      math.pow($font-size-factor,5)*$font-size-base;

$font-size-h6-m:      math.pow($font-size-factor,0.8)*$font-size-base-m;
$font-size-h5-m:      math.pow($font-size-factor,1)*$font-size-base-m;
$font-size-h4-m:      math.pow($font-size-factor,4)*$font-size-base-m;
$font-size-h3-m:      math.pow($font-size-factor,5)*$font-size-base-m;
$font-size-h2-m:      math.pow($font-size-factor,5.5)*$font-size-base-m;
$font-size-h1-m:      math.pow($font-size-factor,6)*$font-size-base-m;





// IMAGE HEIGHT VARIABLES //

$image-height-base:    10vw;
$image-height-base-m:    11vh;
$image-size-factor:    1.4;


$image-height:      math.pow($image-size-factor, 2)*$image-height-base;
$image-height-m:    math.pow($image-size-factor, 2)*$image-height-base-m;

// ICON HEIGHT VARIABLES //
$icon-height-base:    3vw;
$icon-height-base-m:  4vh;
$icon-size-factor: 1.4;

$icon-height:      math.pow($icon-size-factor, 2)*$icon-height-base;
$icon-height-m:    math.pow($icon-size-factor, 2)*$icon-height-base-m;


// FONT-SIZE FOR P //

//$font-size-p:       math.pow($font-size-factor,1.5)*$font-size-base;
$font-size-p: 21px;
$font-size-p-large: math.pow($font-size-factor,2)*$font-size-base;

$font-size-small:   math.pow($font-size-factor,-1)*$font-size-base;

// BREAKPOINTS AND BEHAVIOURS //

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
  );

  @mixin breakpoint($name) {
    @media (max-width: map-get($breakpoints, $name)) {
      @content;
    }
  }


  @mixin font-size-h1 {
    font-size: $font-size-h1;
    @include breakpoint('sm') {
      font-size: $font-size-h1-m !important;
    }
  }

  @mixin font-size-h2 {
    font-size: $font-size-h2;
    @include breakpoint('sm') {
      font-size: $font-size-h2-m !important;
    }
  }

  @mixin font-size-h3 {
    font-size: $font-size-h3;
    @include breakpoint('sm') {
      font-size: $font-size-h3-m !important;
    }
  }

  @mixin font-size-h4 {
    font-size: $font-size-h4;
    font-family: $font-family-Bold;
    font-weight: 600;
    @include breakpoint('sm') {
      font-size: $font-size-h4-m !important;
    }
  }
  @mixin font-size-h5 {
    font-size: $font-size-h5;
    @include breakpoint('sm') {
      font-size: $font-size-h5-m !important;
    }
  }

  @mixin font-size-h6 {
    font-size: $font-size-h6;
    @include breakpoint('sm') {
      font-size: $font-size-h6-m !important;
    }
  }

  @mixin font-size-p {
    font-size: $font-size-p;
    font-family: Roboto;
    
    @include breakpoint('sm') {
      font-size: 17px !important;
    }
  }
