@import 'Grid';


.grid_container {
  width: 100%;
  display: grid;
  gap: 20px;/* Abstand zwischen den Spalten */
  overflow: hidden;

  &.g_99 {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }

  &.g_55 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  &.g_182{
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  &.gc_18{
    grid-template-columns: repeat(18, 1fr);
  }

  &.gc_9{
    grid-template-columns: repeat(9, 1fr);
  }

  &.gc_3{
    grid-template-columns: repeat(3, 1fr);
  }

  &.gc_4{
    grid-template-columns: repeat(4, 1fr);
  }
  &.base{
    width: 100vw;
    gap: 20px;
   //min-height: 100vh;
  }
}
