@import 'Grid';

.grid_item 
{
    min-height: 0;
    min-width: 0;
    width: 100%;
}

.baseItem {
    @include breakpoint('sm') {
        grid-column: 1/10 !important;
        padding: 0px 20px;
    }
}



