@import 'Grid';


.grid_container {
  width: 100vw;
  display: grid;
  gap: 10px; /* Abstand zwischen den Spalten */
  overflow: hidden;

  &.g_99 {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }

  &.g_55 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  &.gc_18{
    grid-template-columns: repeat(18, 1fr);
  }

  &.gc_9{
    grid-template-columns: repeat(9, 1fr);
  }

}
